body {
	background: #B4DCDE url('img/bg.png');
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

header {
	position: relative;
	height: 110px;
	margin: 20px 0 40px 0;
	padding: 7px 0 0px;
	background-color: #fff7be;
	overflow: hidden;
	/*border: 10px #c38f5b;
	border-style: dashed none;*/
}

.border {
	height: 10px;
	background: url('img/border.png');
}

ul {
	list-style-type: none;
}

ul li {
	display: inline;
}

a, a:visited {
	color:#c38f5b;
	text-decoration: none;
}

a, img {
	border: none;
}

/* when your mouse goes over it*/
a:hover{
	color:#FFF;
}

#hat-logo {
	height: 80px;
	margin: 0 10px;
}

#contact-us {

}

.container {
	background-color: #FFF;
	height: 200px;
	width: 80%;
	margin: 0 auto;
	border-radius: 20px;
}

.product-nav-icons {
	height: 80px;
	margin: 0 auto;
	display: block;
}

.icon-text {
	position: relative;
	top: -65px;
	left: 45px;
}

#all-button, #beanie-button, #hat-button, #cap-button {
	height: 78px;
	width: 135px;
}

#hat-button {
	width: 205px;
}

#top-nav {
	font-family: 'Patrick Hand SC', cursive;
	display: inline-block;
	position: absolute;
	bottom: 20px;
	right: 25px;
}

#top-nav ul li {
	padding: 5px 6px;
	margin: 0 10px;
	background-color: #FFF;
	border-radius: 10px;
	border: 1px dashed #c38f5b;
	box-shadow: 0px 0 0 2px #FFF;
}

#top-nav ul li:hover {
	background-color: #e7d6a0;
	box-shadow: 0px 0 0 2px #e7d6a0;
}

#products-nav {
	margin-bottom: 40px;
	font-family: 'Patrick Hand SC', cursive;
	font-weight: 800;
	font-size: 24pt;
}

#products-nav a, #products-nav a:visited {
	color: #f4bec9;
	text-decoration: none;
}

/* when your mouse goes over it*/
#products-nav a:hover{
	color:#f92342;
}

#beanie-text {
	left: 28px;
}

#hat-text {
	left: 75px;
}

#products-nav ul {
	width: 850px;
	margin: 0 auto;
	padding: 0;
}

#products-nav ul li {
	display: inline-block;
	width: 200px;
	height: 100px;
}

#hat-nav {
	margin: 0 40px 0 -20px;
}

a .selected {
	color: #f92342;
}

#products {
	margin: 0 auto;
	width: 910px;
}

#details {
	background-color: #FFF;
	margin: 0 50px;
	min-width: 970px;
}

#detail-image {
	height: 400px;
}

#product-details {
	float: right;
	margin: 90px 70px 0;
	width: 300px;
}

#tag {
	position: relative;
	left: 100px;
	top: -20px;
	float: left;
}

#main-details {
	margin: 0 auto;
	width: 850px;
}

#main-details div {
	display: inline-block;	
}

#main-details h1 {
	color: #13a19b;
	font-size: 32pt;
	margin: 10px 0;
}

#main-details p {
	color: #555;
	font-size: 12pt;
	margin: 0;
}

#main-details input {
	text-align: center;
	width: 50px;
}

#additional-details {
	border-top: 2px solid #AAA;
	margin: 45px 100px 0;
	overflow: hidden;
}

#story-tab {
	width: 150px;
	position: relative;
	top: 53px;
	left: 135px;
}

#tab-text {
	display: inline;
	top: 37px;
	left: -12px;
	position: relative;
}

#inspiration {
	float: right;
	border-left: 1px solid #555;
	margin: 15px 0 15px 50px;
	width: 200px;
}

#inspiration img {
	margin: 10px auto;
	display: block;
	width: 100px;
	height: 100px;
}

#cart-form {
	margin: 10px auto;
	width: 200px;
}

#cart-form button {
	margin-left: 15px;
}

#cart-form button:hover {
	background-color: #11847f;
	cursor: pointer;
}

#additional-details h3 {
	margin: 20px 50px;
	font-weight: 600;
	color: #333;
}

#additional-details p {
	margin: 10px 100px;
	font-size: 12pt;
	line-height: 17pt;
	font-weight: 800;
	color: #555;
}

button {
	background-color: #13a19b;
	border: 0;
	border-radius: 6px;
	padding: 5px 15px;
	color: white;
}

#top-icons {
	clear: both;
}

#close-button {
	position: relative;
	float: right;
	right: 25px;
	top: 20px;
	width: 40px;
}

#product-images {
	width: 400px;
}

#extra-images {
	margin: 0 40px;
}

.small-detail-image {
	width: 60px;
	height: 60px;
	margin: 0 20px;
}

/*.product {
	background-color: #FFF;
	border-radius: 10px;
	width: 250px;
	overflow: hidden;
	display: inline-block;
	margin: 0 20px 25px;
	padding: 5px 5px;
}*/

.product {
	position:relative;
    margin: 0 auto;
    overflow:hidden;
    width:250px;
    height:200px;
    display: inline-block;
	margin: 0 20px 25px;
	border-radius: 10px;
}

.product a, .product a:visited {
	color:#555;
	text-decoration: none;
}

/* when your mouse goes over it*/
.product a:hover{
	color:#333333;
}

.product-preview {
	background-color: #FFF;
	color: #7C7462;
	display: inline-block;
	width:250px;
 	height:200px;
 	position: absolute;
 	z-index: 1;
 	border-radius: 10px;
}

.product-flip {
	background-color: #BBB;
	width:250px;
 	height:200px;
 	position: absolute;
 	top: 0;
 	border-radius: 10px;
}

.product-flip p, .product-flip h3 {
	margin: 10px 20px;
	color: #FFF;
}

.product-flip h3 {
	font-size: 21pt;
}

.production-info {
	text-align: center;
}


.product img {
	display: block;
	margin: 0 auto;
	height: 125px;
}

.product h2 {
	text-align: center;
	font-size: 24pt;
	margin: 0;
}

.detail-link, .price {
	margin: 40px 20px 0;
	display: inline-block;
}

.detail-link {
	float: left;
	color: #555;
}

.price {
	float: right;
	color: #13a19b;
	font-size: 18pt;
	font-weight: 600;
}

footer {
	margin: 20px;
}

#credit-cards {
	width: 150px;
}

#copyright {
	float: right;
	color: #888;
	font-size: 21px;
}
