body {
	background-color: #B4DCDE;
}

ul {
	list-style-type: none;
}

ul li {
	display: inline;
}

#products-nav {
	margin-bottom: 40px;
}

#products-nav ul {
	width: 780px;
	margin: 0 auto;
}

#products-nav ul li {
	margin-right: 40px; 
}

#products {
	margin: 0 auto;
	width: 910px;
}

/*.product {
	background-color: #FFF;
	border-radius: 10px;
	width: 250px;
	overflow: hidden;
	display: inline-block;
	margin: 0 20px 25px;
	padding: 5px 5px;
}*/

.product {
	position:relative;
    margin: 0 auto;
    overflow:hidden;
    width:250px;
    height:200px;
    display: inline-block;
	margin: 0 20px 25px;
	border-radius: 10px;
}

.product-preview {
	background-color: #FFF;
	display: inline-block;
	width:250px;
 	height:200px;
 	position: absolute;
 	z-index: 1;
 	border-radius: 10px;
}

.product-flip {
	background-color: #DDD;
	width:250px;
 	height:200px;
 	position: absolute;
 	top: 0;
 	border-radius: 10px;
}

.product-flip p, .product-flip h3 {
	margin: 10px 20px;
}

.product-flip h3 {
	font-size: 21pt;
}

.production-info {
	text-align: center;
}


.product img {
	display: block;
	margin: 0 auto;
	height: 125px;
}

.product h2 {
	text-align: center;
	font-size: 24pt;
	margin: 0;
}

.detail-link, .price {
	margin: 40px 20px 0;
	display: inline-block;
}

.detail-link {
	float: left;
}

.price {
	float: right;
}