body{
	background-color: #B4DCDE;


  font-family: 'ITC Kristen W01 Normal', serif;
  font-size: 10px;


}

header {
	/*position: absolute;
	left: 5px;
	top: 10px;*/
	margin: 0;
	background-color: #FFF;
}

<div style="position: absolute; left:5px; top: 10px;" width="200" height="70">  

h1{
	color:orange;
	text-align:center;
}

CSS selector {
  font-family: 'ITC Kristen W01 Normal', serif;
}





/* Changin Effect when mouse hovers over, now changes the links and navigations*/
/* a is any ancer tag*/
a, a:visited {
	color:#dc0000;
}

/* when your mouse goes over it*/
a:hover{
	color:#333333;
	background-color: #73F0BC;	
}





/*
p{
	font-family: :"Times New roman";
	font-size: 20px;
}
*/